@font-face {
    font-family: "Gropled";
    src: url("./fonts/ofont.ru_Gropled.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Rennen";
    src: url("./fonts/ofont.ru_Rennen.ttf") format("truetype");
    font-weight: bold;
  }

@font-face {
    font-family: "Typewriter";
    src: url("./fonts/ofont.ru_XTypewriter.ttf") format("truetype");
    font-weight: normal;
  }
  
.p-av {
    text-align: center;
    font-family: "Gropled";
}

.p-at {
    text-align:end;
    font-family: "Rennen";
}

.p-pirates {
    text-align: start;
    font-family: "Typewriter";
}

body {
    background-color: rgb(239, 227, 197);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 20px auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(70, 53, 53);
}

img {
    border-radius: 3%;
    border: 1px solid rgb(0, 0, 0);
}

.my-films {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
}

section > div {
    padding: 20px;
}

.section-films {
    background-color: rgb(199, 184, 149, 0.5);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.section-avengers {
    background-color: rgb(194, 173, 137, 0.5);

}

.section-at {
    background-color: rgb(156, 138, 112, 0.5);

}

.section-pirates{
    background-color: rgb(118, 98, 78, 0.5);

}

