body {
    max-width: 819px;
    background-color: #f2f2f2;
    margin: 152px auto;
}

section {
    /* padding: 20px; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 42px;
    border-radius: 15px;
    justify-content: center;
}

h1 {
    font-size: 42px;
    font-weight: bold;

}

section > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}